/* CSS for whole webpage */
*{
  font-family: 'Roboto', sans-serif;
}

/*CSS for the logo on the sidebar */
 #logo{
    background-color: #242526;
    max-width: 150px;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30vh;
 }
 /* The side navigation menu */
 .sidebar {
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #242526;
    position: fixed;
    height: 100%;
    overflow: auto; 
  }
  
  /* Sidebar links */
  .sidebar a {
    background-color: #242526;
    display: block;
    color: #ffff;
    padding: 10%;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #474747;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    color: #ffff;
    margin-left: 10%;
    padding: 1px 16px;
    height: 100%;
    background-color: #18191A
  }

  /* CSS for page title text */
  .page-title{
    margin-top: 2%;
    margin-bottom: 2%;
  }

  /* CSS for home page */
  .center-homepage{
    margin: auto;
    width: 100%;
    padding: 5%;
    text-align: center;
  }

  /* CSS for tables */
.table a{
  color: #ffff;
}

.table a:hover{
  color: #888787;
}

button{
  padding: 0;
  border: none;
  background: none;
  color: white;
}

/*
Change colour for when button is pressed
*/

.button:focus{
  color: red;
  }

#searchInput{
  margin: 0 auto;
  display: block;
  margin-bottom: 3%;
  width: 60%;
}

#searchInputClubs{
  margin: 0 auto;
  display: block;
  margin-bottom: 3%;
  width: 60%;
}

#login-button{
  width: 30%; 
  margin-bottom: 5%; 
  background-color: rgb(54, 54, 54);
  border: 2px solid #E8E8E8;
}

#search-icon{
  width: 50%;
  margin-bottom: 1%;
}

/* CSS for flash messages */
.flash-messages{
  margin: auto;
  width: 50%;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  padding: 1%;
  border: 5px solid #b4b4b4;
  border-radius: 25px;
  color: white;
  font-size: 1.4em;
  background-color: #5c5c5c;
}
