/* CSS for whole webpage */
*{
  font-family: 'Roboto', sans-serif;
}

/*CSS for the logo on the sidebar */
 #logo{
    max-width: 150px;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30vh;
 }
 
 /* The side navigation menu */
 .sidebar {
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #242526;
    position: fixed;
    height: 100%;
    overflow: auto; 
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #ffff;
    padding: 10%;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #474747;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    color: #ffff;
    margin-left: 10%;
    padding: 1px 16px;
    height: 100%;
    background-color: #18191A
  }

  /* CSS for page title text */
  .page-title{
    margin-top: 2%;
    margin-bottom: 2%;
  }

  /* CSS for home page */
  .center-homepage{
    margin: auto;
    width: 100%;
    padding: 5%;
    text-align: center;
  }

  /* CSS for tables */
.table a{
  color: #ffff;
}

.table a:hover{
  color: #888787;
}