/*CSS for the logo on the sidebar */
 #logo{
    max-width: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
 }
 
 /* The side navigation menu */
 .sidebar {
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #5c5c5c;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #ffff;
    padding: 20%;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #474747;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    color: #ffff;
    margin-left: 10%;
    padding: 1px 16px;
    height: 150vh;
    background-color: #121212
  }

  /* CSS for page title */
  .page-title{
    margin-top: 30px;
    margin-bottom: 50px;
  }

  /* CSS for home page */
  .center-homepage{
    margin: auto;
    width: 100%;
    padding: 100px;
    text-align: center;
  }

