{% extends "base.html" %}
{% block title %}Admin Page{% endblock %}
{% block content %}

<div class="content">
    <h1 class="page-title">Admin Page</h1>
    <div class="center-homepage">
        <div class="row">
            <div class="card text-white bg-dark mb-6" style="width: 90%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                <div class="card-body">
                    <h5 class="card-title">Add Player</h5><br><br>
                    <form method="post">
                        <input type="hidden" name="form-adminpage" value="add-player-form">
                        <p>Player Name:</p>
                        <input class="form-control" id="form-entry" name="player-name-add" type="text" placeholder="Please enter player name..." required><br><br>
                        <p>Player DoB:</p>
                        <input class="form-control" id="form-entry" name="player-dob-add" type="date" required><br><br>
                        <p>Player Gender:</p>
                        <select id="form-entry" class="form-select" name="player-gender-add" aria-label="Default select example">
                            <option selected>Select player gender from dropdown...</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select><br><br>
                        <p>Player Date Signed-Up:</p>
                        <input class="form-control" id="form-entry" name="player-dsu-add" type="date" required><br><br>
                        <p>Player Club:</p>
                        <select id="form-entry" class="form-select" name="player-club-name-add" aria-label="Default select example">
                            <option selected>Select player's current club from dropdown...</option>
                            {% for name in clubNameList %}
                                <option value="{{ name[0] }}">{{ name[0] }}</option>
                            {% endfor %}
                        </select><br><br>
                        <p>Player Salary:</p>
                        <input class="form-control" id="form-entry" name="player-salary-add" type="text" placeholder="Please enter player salary... (e.g. input 50 = £50,000)" required><br><br>
                        <p>Player Start of Contract:</p>
                        <input class="form-control" id="form-entry" name="player-soc-add" type="date" required><br><br>
                        <p>Player Contract Duration:</p>
                        <input class="form-control" id="form-entry" name="player-contract-duration-add" type="text" placeholder="Please enter player contract duration in years..." required><br><br>
                        <p>Player Games Played This Year:</p>
                        <input class="form-control" id="form-entry" name="player-games-played-add" type="text" placeholder="Please enter player games played this year..." required><br><br>
                        <p>Player Games Won This Year:</p>
                        <input class="form-control" id="form-entry" name="player-games-won-add" type="text" placeholder="Please enter player games won this year..." required><br><br>
                        <p>Player Future Games:</p>
                        <input class="form-control" id="form-entry" name="player-future-games-add" type="text" placeholder="Please enter player's 5 future games... (e.g. WLWWW)" required><br><br>
                        <button id="form-button" name="add-player" class="btn btn-primary" type="submit">Add Player</button>
                    </form> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card text-white bg-dark mb-6" style="width: 90%; margin-right: 5%; margin-left: 5%; margin-bottom: 5%;">
                <div class="card-body">
                    <h5 class="card-title">Delete Player</h5><br><br>
                    <form method="post">
                        <input type="hidden" name="form-adminpage" value="del-player-form">
                        <p>Player Name:</p>
                        <select id="form-entry" class="form-select" name="player-name-del" aria-label="Default select example">
                            <option selected>Select player name from dropdown...</option>
                            {% for name in playerNameList %}
                                <option value="{{ name[0] }}">{{ name[0] }}</option>
                            {% endfor %}
                        </select><br><br>
                        <button id="form-button" name="delete-player" class="btn btn-primary" type="submit">Delete Player</button> 
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="card text-white bg-dark mb-6" style="width: 90%; margin-right: 5%; margin-left: 5%; margin-top: 5%;margin-bottom: 5%;">
                <div class="card-body">
                    <h5 class="card-title">Add Club</h5><br><br>
                    <form method="post">
                        <input type="hidden" name="form-adminpage" value="add-club-form">
                        <p>Player Club Name:</p>
                        <input class="form-control" id="form-entry" name="club-name-add" type="text" placeholder="Please enter club name..." required><br><br>
                        <p>Player Club Location:</p>
                        <input class="form-control" id="form-entry" name="club-location-add" type="text" placeholder="Please enter club location..." required><br><br>
                        <p>Player Club Manager:</p>
                        <input class="form-control" id="form-entry" name="club-manager-add" type="text" placeholder="Please enter club manager..." required><br><br>
                        <button id="form-button" name="add-club" class="btn btn-primary" type="submit">Add Club</button> 
                    </form>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="card text-white bg-dark mb-6" style="width: 90%; margin-right: 5%; margin-left: 5%;margin-bottom: 5%;">
                <div class="card-body">
                    <h5 class="card-title">Delete Club</h5><br><br>
                    <form method="post">
                        <input type="hidden" name="form-adminpage" value="del-club-form">
                        <p>Club Name:</p>
                        <select id="form-entry" class="form-select" name="club-name-del" aria-label="Default select example">
                            <option selected>Select club name from dropdown...</option>
                            {% for name in clubNameList %}
                                <option value="{{ name[0] }}">{{ name[0] }}</option>
                            {% endfor %}
                        </select><br><br>
                        <button id="form-button" name="delete-club" class="btn btn-primary" type="submit">Delete Club</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
