{% extends "base.html" %}
{% block title %}Clubs{% endblock %}
{% block clubs %} class="active" {% endblock %}
{% block content %}

<div class="content bg-black">
    <h1 class="page-title">Clubs</h1>

    <i class="fa fa-fw fa-search" id="search-icon"></i><input type="text" class="form-control text-center" id="searchInputClubs" onkeyup="searchFunctionClubs()" placeholder="Enter club name...">


    <table id="clubstable" class="sortable table table-hover table-striped table-dark" style="color:#ffff;">
      <thead>
        <tr>
          {% for col in clubHeadings %}
            {% if loop.index == 2 %}
            <th class="clubShow"><button class="button">{{ col }}</button>
              <i class="fa fa-fw fa-sort"></i></th>
            {% else %}
            <th class="clubHide"><button class="button">{{ col }}</button>
              <i class="fa fa-fw fa-sort"></i></th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for c in clubData %}
        <tr>
          {% for j in c %}
              {% if loop.index == 2 %}
                <td scope="row" class="clubShow"><a href="{{ url_for('clubDetails', clubName=j) }}">{{j}}</a></td>
              {% else %}
                <td scope="row" class="clubHide">{{j}}</td>
              {% endif %}
          {% endfor %}
        </tr>
        {% endfor%}
      </tbody>
    </table>

</div>

{% endblock %}