{% extends "base.html" %}
{% block title %}Club Details{% endblock %}
{% block content %}

<div class="content">
    <h1 class="page-title">{{ clubName }} Details:</h1>

    <div class="row" style="margin-top: 10%; padding-bottom: 10%;">
      <div class="card text-white bg-dark mb-3" style="width: 25%; margin-right: 5%; margin-left: 10%;">
          <img class="" src="http://via.placeholder.com/225x250" alt="Photo of Player.">
          <div class="card-body">
              <h5 class="card-title">Photo of {{ clubName }}</h5>
              <p class="card-text" style="font-size:0.8em;">
                {{ clubName }} is a club based in {{clubData[2]}}, managed by {{clubData[3]}}. 
              </p>
          </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="width: 45%; margin-right: 10%; margin-left: 5%;">
          <canvas id="club-value-chart" width="720", height="366" style=" margin-top: 5%;"></canvas>
      </div>
  </div>

  <div class="row">
    <div class="card-horizontal text-white bg-dark mb-6" style="width: 35%; margin-left: 10%; margin-right: 5%; margin-bottom: 10%;">
        <canvas id="club-salaries-chart" width="720", height="366"></canvas>
        <div class="card-body">
            <h4 class="card-title">Club Player Salaries<br><br></h4>
            <p class="card-text">Graph showing player salaries as a proportion of clubs salary bill.</p>
        </div>
    </div>
    <div class="card-horizontal text-white bg-dark mb-6" style="width: 35%; margin-left: 5%; margin-right: 10%; margin-bottom: 10%;">
      <canvas id="clubValuesChart1" width="720", height="366">
      </canvas>
      <div class="card-body">
          <h4 class="card-title">Club Player Values<br><br></h4>
          <p class="card-text">Graph showing player values as a proportion of clubs value.</p>
      </div>
      <div class="selectBox">
        <select id="weekselect" class="form-select">
          <option value="{{playerValues1}}">Week 1</option>
          <option value="{{playerValues2}}">Week 2</option>
          <option value="{{playerValues3}}">Week 3</option>
          <option value="{{playerValues4}}">Week 4</option>
          <option value="{{playerValues5}}">Week 5</option>
        </select>
      </div>
  </div>
  </div>
  

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

  const ctx = document.getElementById('club-value-chart');
  
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Current Value', 'Value After Future Game 1', 'Value After Future Game 2', 'Value After Future Game 3', 'Value After Future Game 4', 'Value After Future Game 5'],
      datasets: [{
        label: 'Club Value in £',
        data: {{ clubValues }},
        borderWidth: 1
      }]
    },
    options: {
        scales: {
          y: {
            beginAtZero: false,
            ticks: { color: 'white'},
            grid: {
            color: 'black'
          }
          },
          x: {
            ticks: { color: 'white'},
            grid: {
            color: 'black'
          }
          }
        }
      }
    });

const ctx1 = document.getElementById('club-salaries-chart');

  new Chart(ctx1, {
    type: 'doughnut',
    data: {
      labels: {{playerNames}},
      datasets: [{
        label: 'Player salaries for this club',
        data: {{playerSalaries}},
        hoverOffset: 4
      }]
    },
  });

  const ctx2 = document.getElementById('clubValuesChart1');

  const playerValuesChart1 = new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: {{playerNames}},
      datasets: [{
        label: 'Player values for this club',
        data: {{playerValuesDefault}},
        hoverOffset: 4
      }]
    },
  });

  

  const weekselect = document.getElementById('weekselect');
  weekselect.addEventListener('change', weekSelect);
  
  function weekSelect(){
    console.log(weekselect.value.split(','));
    playerValuesChart1.data.datasets[0].data = weekselect.value.split(',');
    playerValuesChart1.update();
  }

</script>

{% endblock %}