{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block home %} class="active" {% endblock %}
{% block content %}

<div class="content bg-black">
    <h1 class="page-title">Home</h1>
    <div class="center-homepage">
        <div class="row">
            <div class="card text-white bg-dark mb-3" style="width: 40%; margin-right: 5%; margin-left: 5%; ">
                <canvas id="trending-players-chart" width="720", height="500"></canvas>
                <div class="card-body">
                    <h5 class="card-title">Trending Players</h5>
                    <p class="card-text">Graph showing the players with the highest potential change in value.</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="width: 40%; margin-right: 5%; margin-left: 5%; ">
                <canvas id="valuable-clubs-chart" width="720", height="500"></canvas>
                <div class="card-body">
                    <h5 class="card-title">Most Valuable Clubs</h5>
                    <p class="card-text">Graph showing the clubs with the highest current value (based on the value of the clubs players).</p>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="card-horizontal text-white bg-dark mb-6" style="width: 90%; margin-left: 5%; margin-right: 5%; ">
                <div class="img-square-wrapper" style="float:left;">
                    <img class="" src="http://via.placeholder.com/225x250" alt="Graph showing player price following 5 future games.">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Player(s) to Watch<br><br></h4>
                    <!-- <p class="card-text">{{ player_name }} playing for {{ playerToWatch[5] }} is expected to get {{ future_games }} in his next five games. -->
                      <p class="card-text">Based on a future games prediction, the players to watch this week are:</p>
                      <ul>
                        {% for result in result %}
                        <li>{{ result[0] }} with {{ result[1] }}</li>
                        {% endfor %}
                      </ul>
                      <br>Could this be a great deal for any interested clubs following this potential form?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('trending-players-chart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['CP', 'FG1', 'FG2', 'FG3', 'FG4', 'FG5'],
        datasets: [{
          label: "{{ name1 }}",
          //borderColor: "#FFFFFF",
          data: {{ player1 }},
          borderWidth: 1
        },
        {
          label: '{{ name2 }}',
          //borderColor: "#FFFFFF",
          data: {{ player2 }},
          borderWidth: 1
        },
        {
          label: '{{ name3 }}',
          //borderColor: "#FFFFFF",
          data: {{ player3 }},
          borderWidth: 1
        },
        {
          label: '{{ name4 }}',
          //borderColor: "#FFFFFF",
          data: {{ player4 }},
          borderWidth: 1
        },
        {
          label: '{{ name5 }}',
          //borderColor: "#FFFFFF",
          data: {{ player5 }},
          borderWidth: 1
        },
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: false,
            ticks: { color: 'white'},
            grid: {
            color: 'black'
          }
          },
          x: {
            ticks: { color: 'white'},
            grid: {
            color: 'black'
          }
          }
        }
      }
    });
    const ctx1 = document.getElementById('valuable-clubs-chart');

    new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: ['{{ club1 }}', '{{ club2 }}', '{{ club3 }}', '{{ club4 }}', '{{ club5 }}', '{{ club6 }}'],
        datasets: [{
          label: "CP",
          data: {{ week0 }},
          borderWidth: 1
        },
        {
          label: "FG1",
          data: {{ week1 }},
          borderWidth: 1
        },
        {
          label: "FG2",
          data: {{ week2 }},
          borderWidth: 1
        },
        {
          label: "FG3",
          data: {{ week3 }},
          borderWidth: 1
        },
        {
          label: "FG4",
          data: {{ week4 }},
          borderWidth: 1
        },
        {
          label: "FG5",
          data: {{ week5 }},
          borderWidth: 1
        }]
      },
      options: {
      scales: {
        y: {
          beginAtZero: true,
          ticks: { color: 'white'},
          grid: {
            color: 'black'
          }
        },
        x: {
          ticks: { color: 'white'},
          grid: {
            color: 'black'
          }
        }
      }
    }
  });
  </script>

{% endblock %}
