{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block home %} class="active" {% endblock %}
{% block content %}

<div class="content">
    <h1 class="page-title">Home</h1>
    <div class="row">
        <div class="card text-white bg-dark mb-3" style="width: 50rem; margin-right: 100px; margin-left: 100px;">
            <img class="card-img-top" src="http://via.placeholder.com/720x366" alt="Graph showing players with the highest value.">
            <div class="card-body">
                <h5 class="card-title">Trending Players</h5>
                <p class="card-text">Graph showing the players with the highest current value.</p>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="width: 50rem; margin-right: 100px; margin-left: 100px;">
            <img class="card-img-top" src="http://via.placeholder.com/720x366" alt="Graph showing players with the highest value.">
            <div class="card-body">
                <h5 class="card-title">Most Valuable Clubs</h5>
                <p class="card-text">Graph showing the clubs with the highest current value (based on the value of the clubs players).</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-horizontal text-white bg-dark mb-6" style="width: 112rem; margin-left: 100px; margin-right: 100px;">
            <div class="img-square-wrapper" style="float:left;">
                <img class="" src="http://via.placeholder.com/225x250" alt="Graph showing player price following 5 future games.">
            </div>
            <div class="card-body">
                <h4 class="card-title">Player of the Week</h4>
                <p class="card-text">Player info here.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}