{% extends "base.html" %}
{% block title %}Admin Log-In{% endblock %}
{% block login %} class="active" {% endblock %}
{% block content %}
<div class="content">
    <h1 class="page-title">Log-In</h1>
    <div class="center-homepage">
        <div class="row">
            <div class="card text-white bg-dark mb-3" id="admin-login">
                <div class="card-body">
                    <h5 class="card-title" style="padding-top: 5%;">Log-In:</h5><br>
                    <form method="POST">
                        <input class="form-control" name="adminemail" type="text" id="email" name="email" placeholder="Please enter your email..."><br><br>
                        <input class="form-control" name="adminpassword" type="password" id="password" name="password" placeholder="Please enter your password..."><br><br>
                        <button id="login-button" name="login" class="btn btn-primary" type="submit">Log-In</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}