{% extends "base.html" %}
{% block title %}Admin Log-In{% endblock %}
{% block login %} class="active" {% endblock %}
{% block content %}
<div class="content">
    <h1 class="page-title">Log-In</h1>
    <div class="center-homepage">
        <div class="row">
            <div class="card text-white bg-dark mb-3" style="width: 80%; margin-right: 5%; margin-left: 5%;">
                <div class="card-body">
                    <h5 class="card-title" style="padding-top: 5%;">Log-In:</h5><br>
                    <input class="form-control" type="text" id="email" name="email" placeholder="Please enter your email..." style="width: 50%; text-align:center; margin-left: auto; margin-right:auto;"><br><br>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Please enter your password..." style="width: 50%;text-align:center;margin-left: auto; margin-right:auto;"><br><br>
                    <button class="btn btn-primary" type="submit"  style="width: 30%; margin-bottom: 5%;">Log-In</button> 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}