{% extends "base.html" %}
{% block title %}Players{% endblock %}
{% block players %} class="active" {% endblock %}
{% block content %}

<div class="content">
    <h1 class="page-title">Players</h1>

    <table class="sortable table table-hover table-striped table-dark" style="color:#ffff">
      <thead>
        <tr>
          <th class="num">
              <button>
                Player Number
                <span aria-hidden="true"></span>
                <i class="fa fa-fw fa-sort"></i>
              </button>
          </th>
          <th>
            <button>
              Player Name
              <span aria-hidden="true"></span>
              <i class="fa fa-fw fa-sort"></i>
            </button>
            <th>
              <button>
                Data of Birth
                <span aria-hidden="true"></span>
              </button>
              <th>
                <button>
                  Gender
                  <span aria-hidden="true"></span>
                  <i class="fa fa-fw fa-sort"></i>
                </button>
                <th>
                  <button>
                    Sign-Up Date
                    <span aria-hidden="true"></span>
                  </button>
                  <th>
                    <button>
                      Current Team
                      <span aria-hidden="true"></span>
                      <i class="fa fa-fw fa-sort"></i>
                    </button>
                    <th class="num">
                      <button>
                        Salary
                        <span aria-hidden="true"></span>
                        <i class="fa fa-fw fa-sort"></i>
                      </button>
                      <th class="num">
                        <button>
                          Contract Start Date
                          <span aria-hidden="true"></span>
                        </button>
                        <th class="num">
                          <button>
                            Contract Duration
                            <span aria-hidden="true"></span>
                            <i class="fa fa-fw fa-sort"></i>
                          </button>
                          <th class="num">
                            <button>
                              Games Played
                              <span aria-hidden="true"></span>
                              <i class="fa fa-fw fa-sort"></i>
                            </button>
                            <th class="num">
                              <button>
                                Games Won
                                <span aria-hidden="true"></span>
                                <i class="fa fa-fw fa-sort"></i>
                              </button>
                              <th class="num">
                                <button>
                                  Future Games
                                  <span aria-hidden="true"></span>
                                </button>
                                                                                                      
                  
                
              
    </th>
          <!-- {% for col in playerHeadings %}
            <th aria-sort="ascending">
              <button>
                {{ col }}
                <span aria-hidden="true"></span>
              </button>
            </th>
          {% endfor %} -->
          
        </tr>
      </thead>
      <tbody>
        {% for p in playerData %}
        <tr>
          {% for j in p %}
              {% if loop.index == 2 %}
                <td scope="row"><a href="{{ url_for('playerDetails', playerName=j) }}">{{j}}</a></td>
              {%elif loop.index == 6 %}
                <td scope="row"><a href="{{ url_for('clubDetails', clubName=j) }}">{{j}}</a></td>
              {% else %}
                <td scope="row">{{j}}</td>
              {% endif %}
          {% endfor %}
        </tr>
        {% endfor%}
      </tbody>
    </table>
</div>




{% endblock %}