{% extends "base.html" %}
{% block title %}Player Details{% endblock %}
{% block content %}

<div class="content">
    <h1 class="page-title">Player Details:</h1>

    <div class="row" style="margin-top: 10%; padding-bottom: 10%;">
      <div class="card text-white bg-dark mb-3" id="player-detail-card">
          <img class="" src="../static/images/{{photo}}.jpg" alt="Photo of Player.">
          <div class="card-body">
              <h5 class="card-title">{{ playerName }} Details:</h5>
              <p class="card-text" id="player-details-text">
                  The player {{ playerName }}, born in {{ playerDoB }}, is currently playing for {{ playerCurrentTeam }},
                  located in {{ playerTeamLocation }}, and managed by {{ playerTeamManager }}. He signed for the club on 
                  {{ playerStartOfContract }} for a {{ playerContractDuration }} year deal, of which {{ playerWeeksLeftInContract }} 
                  weeks remain. This year the player has played {{ playerGamesPlayedThisYear }} and won {{ playerGamesWon }}, before 
                  taking into account his possible next 5 results this leaves him at a market value of £{{ playerPrices[0] }}.
              </p>
          </div>
      </div>
      <div class="card text-white bg-dark mb-3" id="player-graph-card">
          <canvas id="player-prices-chart" width="720", height="720" style=" margin-top: 5%;"></canvas>
      </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

  const ctx = document.getElementById('player-prices-chart');
  
  new Chart(ctx, {
    type: 'line',
    markerType: "square",
    data: {
      labels: ['Current Price', 'Future Game 1', 'Future Game 2', 'Future Game 3', 'Future Game 4', 'Future Game 5'],
      showInLegend: true,
      datasets: [{
        pointHoverRadius: 5,
        pointHoverBackgroundColor: 'red',
        label: 'Market Value in £',
        data: {{ playerPrices }},
        borderWidth: 1,
      }]
    },
    options: {
      responsive:true,
      plugins: {
        title: {
          display: true, 
          color: 'white',
          text: 'Change in Players Market value (£) over their 5 Future Games'
        },
        legend:{
          // cursor:"pointer",
          // verticalAlign: "bottom",
          // horizontalAlign: "left",
          // dockInsidePlotArea: true,
        }
      },
      toolTip:{
        shared:true
      },
      // legend:{
      //   cursor:"pointer",
      //   verticalAlign: "bottom",
      //   horizontalAlign: "left",
      //   dockInsidePlotArea: true,
      // },
      scales: {
        y: {
          beginAtZero: false,
          ticks: { color: 'white'},
          crosshair: {  enabled: true },
          grid: {
            color: 'black'
          }
        },
        x: {
          ticks: { color: 'white'},
          crosshair: {  enabled: true, snapToDataPoint: true },
          grid: {
            color: 'black'
          }
        },
      }
    }
  });

</script>


{% endblock %}