{% extends "base.html" %}
{% block title %}Players{% endblock %}
{% block players %} class="active" {% endblock %}
{% block content %}

<div class="content">
    <h1 class="page-title">Players</h1>
    <p style="font-size: 2em;">Player Selection:</p>


    <table class="table" style="color:#ffff">
      <thead>
        <tr>
        {% for i in playerHeadings%}
          <th scope="col">{{i}}</th>
        {%endfor%}
        </tr>
      
      </thead>
      <tbody>
        {% for p in playerData %}
        <tr>
          {% for j in p %}
          <th scope="row">{{j}}</th>
          {% endfor %}
        </tr>
        {% endfor%}
      </tbody>
    </table>
</div>



{% endblock %}